div {
  background-color:#c2e4c6;
}

body {
}

p {
 text-align:center;
  font-family: fantasy;
}
h1 {
 text-align:center;
  font-family: fantasy;
}
h2 {
 text-align:center;
  font-family: fantasy;
}

h3 {
 text-align:center;
  font-family: fantasy;
}

h4 {
 text-align:center;
  font-family: fantasy;
}

h5 {
 text-align:center;
  font-family: fantasy;
}

h6 {
 text-align:center;
  font-family: fantasy;
}
